.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none; /* Allow clicks to pass through by default, overridden if interactive */
}

.particles-container canvas {
  display: block;
}
